{% assign remaining = products_per_page %}
{% for product in collection.products limit: products_per_page %}
  {% if product.available and product.price >= product.compare_at_price_max %}
    {% include 'product-card-grid' %}
    {% assign remaining = remaining | minus: 1 %}
  {% endif %}
{% endfor %}	
{% for product in collection.products limit: products_per_page %}
  {% if product.compare_at_price > product.price %}
    {% if remaining > 0 %}
        {% include 'product-card-grid' %}
        {% assign remaining = remaining | minus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
{% for product in collection.products limit: products_per_page %}
  {% if product.available == false %}
    {% if remaining > 0 %}
        {% include 'product-card-grid' %}
        {% assign remaining = remaining | minus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
{% schema %}
{
  "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fr": "Pages de collections"
  },
  "settings": [
    {
      "type": "select",
      "id": "scroll-effect",
      "label": {
        "de": "Paginierungseffekt",
        "en": "Pagination effect",
        "es": "Efecto de paginación",
        "fr": "Effet de pagination"
      },
      "options": [
        {
          "value": "pag-scroll",
          "label": {
            "de": "Seitennummerierung",
            "en": "Pagination",
            "es": "Paginación",
            "fr": "Pagination"
          }
        },
        {
          "value": "inf-scroll",
          "label": {
            "de": "Nieuw",
            "en": "infinite scrolling",
            "es": "Nuevo",
            "fr": "Nouveau"
          }
        }
      ],
      "default": "pag-scroll"
    },
    {
      "type": "select",
      "id": "layout",
      "label": {
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fr": "Mise en page"
      },
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": {
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fr": "Grille"
          }
        },
        {
          "value": "list",
          "label": {
            "de": "Liste",
            "en": "List",
            "es": "Lista",
            "fr": "Liste"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "high_resolution_image",
      "label": {
        "de": "afbeelding met hoge resolutie inschakelen",
        "en": "enable high resolution image",
        "es": "habilitar imagen de alta resolución",
        "fr": "activer l'image haute résolution"
      },
      "info": {
        "de": "Indien ingeschakeld, kan de sitesnelheid worden beïnvloed",
        "en": "If enabled, the site speed may be affected",
        "es": "Si está habilitado, la velocidad del sitio puede verse afectada",
        "fr": "Si activé, la vitesse du site peut être affectée"
      },
      "default": false
    },
    {
      "type": "radio",
      "id": "image-effect",
      "label": {
        "de": "Typ",
        "en": "Image appearance",
        "es": "tipo",
        "fr": "Type"
      },
      "options": [
        {
          "value": "none",
          "label": {
            "de": "ingezoomd",
            "en": "zoomed",
            "es": "ampliada",
            "fr": "zoomée"
          }
        },
        {
          "value": "fill",
          "label": {
            "de": "gevulde",
            "en": "fill",
            "es": "llena",
            "fr": "remplie"
          }
        },
        {
          "value": "contain",
          "label": {
            "de": "bevatten",
            "en": "contain",
            "es": "Contiene",
            "fr": "contient"
          }
        },
        {
          "value": "scale-down",
          "label": {
            "de": "verkleinen",
            "en": "scale down",
            "es": "reducir proporcionalmente",
            "fr": "réduite"
          }
        },
        {
          "value": "cover",
          "label": {
            "de": "Hoes",
            "en": "cover",
            "es": "cubrir",
            "fr": "couverture"
          }
        }
      ],
      "default": "none",
      "info": {
        "de": "Uitgelichte afbeelding uiterlijk",
        "en": "Featured collection image appearance",
        "es": "Apariencia de imagen destacada",
        "fr": "Apparence de l'image en vedette"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "de": "Produkte per Reihe (nur Raster)",
        "en": "Products per row (grid only)",
        "es": "Productos por fila (solo cuadrícula)",
        "fr": "Produits par rangée (grille uniquement)"
      },
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "de": "Reihen per Seite (nur Raster)",
        "en": "Rows per page (grid only)",
        "es": "Filas por página (solo cuadrícula)",
        "fr": "Rangées par page (grille uniquement)"
      },
      "default": 2,
      "min": 2,
      "max": 8,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": {
        "de": "Kategorie-Foto anzeigen",
        "en": "Show collection image",
        "es": "Mostrar imagen de la colección",
        "fr": "Afficher l'image de la collection"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "de": "Produkt-Lieferanten anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fr": "Afficher les vendeurs"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "de": "Seitenleiste",
        "en": "Collection sidebar ",
        "es": "Barra lateral",
        "fr": "Barre latérale"
      }
    },
    {
      "type": "checkbox",
      "id": "show-sd-search-bt",
      "label": {
        "de": "Suchbox",
        "en": "Show search box",
        "es": "Caja de búsqeda",
        "fr": "Barre de recherche"
      },
      "info": {
        "de": "Aktivieren / Deaktivieren in den Themeneinstellungen => Allgemein",
        "en": "Enable/Disable from Theme Settings => General",
        "es": "Habilitar / deshabilitar desde la configuración del tema => General",
        "fr": "Activer / désactiver à partir des paramètres de thème => Général"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "sidebar_title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "En-tête"
      },
      "default": "Filter research"
    }
  ],
  "max_blocks": 100,
  "blocks": [
{
                "type": "content",
                "name": "New Collection",	
                "settings": [
                {
                  "id": "title",
                  "type": "text",
                  "label": "Name",
                  "default": "Collection Name"
                },
                {
                  "type": "text",
                  "id": "collection-handle",
                  "label": "Collection Handle"
                },
                {
                  "type": "textarea",
                  "id": "subcollections",
                  "label": "List The Subcollections"     
                },
                {
                  "type": "textarea",
                  "id": "subcolltitles",
                  "label": "List The Subcollections Titles"     
                },
                {
                  "type": "text",
                  "id": "collhandle2",
                  "label": "Collection Handle 2"
                },
				{
                  "type": "textarea",
                  "id": "subcolllist2",
                  "label": "List The Subcollections 2"     
                },
                {
                  "type": "textarea",
                  "id": "subcolltitles2",
                  "label": "List The Subcollections Titles 2"     
                },
				{
                  "type": "text",
                  "id": "collhandle3",
                  "label": "Collection Handle 3"
                },
				{
                  "type": "textarea",
                  "id": "subcolllist3",
                  "label": "List The Subcollections 3"     
                },
                {
                  "type": "textarea",
                  "id": "subcolltitles3",
                  "label": "List The Subcollections Titles 3"     
                },
				{
                  "type": "text",
                  "id": "collhandle4",
                  "label": "Collection Handle 4"
                },
				{
                  "type": "textarea",
                  "id": "subcolllist4",
                  "label": "List The Subcollections 4"     
                },
                {
                  "type": "textarea",
                  "id": "subcolltitles4",
                  "label": "List The Subcollections Titles 4"     
                },
				{
                  "type": "text",
                  "id": "collhandle5",
                  "label": "Collection Handle 5"
                },
				{
                  "type": "textarea",
                  "id": "subcolllist5",
                  "label": "List The Subcollections 5"     
                },
                {
                  "type": "textarea",
                  "id": "subcolltitles5",
                  "label": "List The Subcollections Titles 5"     
                }
]
},
    {
      "type": "text",
      "name": {
        "de": "Filter",
        "en": "Filter",
        "es": "Filtrar",
        "fr": "Filtre"
      },
      "settings": [
        {
          "type": "radio",
          "id": "filter-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fr": "Mobile uniquement"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fr": "Ordinateur uniquement"
              }
            },
            {
              "value": "showboth",
              "label": {
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fr": "Les deux"
              }
            }
          ],
          "label": {
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fr": "Visibilité"
          },
          "default": "showboth"
        },
        {
          "type": "paragraph",
          "content": "Group tag filter 1"
        },
        {
          "type": "text",
          "id": "group_tag_1_label",
          "label": "Label:"
        },
        {
          "type": "text",
          "id": "group_tag_1",
          "label": "Keys:",
          "info": "Separate tags with comma"
        }
      ]
    },
    {
      "type": "html",
      "name": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "HTML personnalisé"
      },
      "settings": [
        {
          "type": "radio",
          "id": "html-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fr": "Mobile uniquement"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fr": "Ordinateur uniquement"
              }
            },
            {
              "value": "showboth",
              "label": {
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fr": "Les deux"
              }
            }
          ],
          "label": {
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fr": "Visibilité"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "En-tête"
          },
          "default": "Custom HTML"
        },
        {
          "type": "html",
          "id": "code",
          "label": "HTML",
          "default": "<p>Add your custom html code here <br> <strong> Get help from Plak forum if you don't know what to add </strong> </p>"
        }
      ]
    },
    {
      "type": "collection",
      "name": {
        "de": "Ausgewählte Produkte",
        "en": "Featured products",
        "es": "Productos Destacados",
        "fr": "Produits populaires"
      },
      "settings": [
        {
          "type": "radio",
          "id": "widgetproduct-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fr": "Mobile uniquement"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fr": "Ordinateur uniquement"
              }
            },
            {
              "value": "showboth",
              "label": {
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fr": "Les deux"
              }
            }
          ],
          "label": {
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fr": "Visibilité"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "En-tête"
          },
          "default": "Sale Products"
        },
        {
          "type": "collection",
          "id": "featured_product_list_collection",
          "label": {
            "de": "Sammlung zu verwenden",
            "en": "Collection to use",
            "es": "Colección para usar",
            "fr": "Collection à utiliser"
          }
        },
        {
          "type": "text",
          "id": "featured_product_limit_all",
          "label": "Number of products to show",
          "default": "3"
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "radio",
          "id": "banner-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fr": "Mobile uniquement"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fr": "Ordinateur uniquement"
              }
            },
            {
              "value": "showboth",
              "label": {
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fr": "Les deux"
              }
            }
          ],
          "label": {
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fr": "Visibilité"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "banner-on-hover",
          "label": {
            "de": "Überschrift",
            "en": "Text on hover",
            "es": "Título",
            "fr": "Titre"
          }
        },
        {
          "type": "image_picker",
          "id": "img_banner",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Choose link"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fr": "Inscription"
      },
      "settings": [
        {
          "type": "radio",
          "id": "newsletter-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fr": "Mobile uniquement"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fr": "Ordinateur uniquement"
              }
            },
            {
              "value": "showboth",
              "label": {
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fr": "Les deux"
              }
            }
          ],
          "label": {
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fr": "Visibilité"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "newsletter_col-title",
          "label": {
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre"
          },
          "info": {
            "de": "Abonnenten werden zu Ihrer \"akzeptiert Marketingmaterial\"-Liste hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu lista \"acepta marketing\"[lista de clients.](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing »."
          },
          "default": {
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fr": "Newsletter"
          }
        }
      ]
    },
    {
      "type" : "refund-banner",
      "name" : "Refund banner",
      "settings" : [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default" : "#F2F2F2"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default" : "#000000"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "label": "Text 1",
          "default" : "<p>Not quite right?</p>"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "label": "Text 2",
          "default" : "<p>Risk Free 30 Day Returns.</p>"
        },
        {
          "type": "richtext",
          "id": "text_3",
          "label": "Text 3",
          "default" : "<p>We want you to love the products you buy from us. If you change your mind, return it to us within 30 days of the date you received it, no questions asked.</p>"
        },
        {
          "type": "richtext",
          "id": "text_4",
          "label": "Text 4",
          "default" : "<p>*Excludes mattresses, bedding, pillows and sofa covers. T&Cs apply</p>"
        }
      ]
    }
  ]
}
{% endschema %}